asn1crypto==1.4.0
cffi==1.15.0
coincurve==16.0.0
ecdsa==0.17.0
gevent==21.1.2
gipc==1.3.0
gmpy2==2.0.8
greenlet==1.1.2
pycparser==2.21
pycrypto==2.6.1
PySocks==1.7.1
six==1.16.0
zfec==1.5.5
zope.event==4.5.0
zope.interface==5.4.0
